<div class="container">
    <div class="card p-3">
        <p-table [columns]="primengTableHelper.scrollableCols" [frozenColumns]="primengTableHelper.frozenCols"
                 [value]="primengTableHelper.records" [scrollable]="true" [responsive]="primengTableHelper.isResponsive"
                 frozenWidth="500px" styleClass="p-datatable-striped pt-2 pl-3 pr-3 p-datatable-sm"
                 [lazy]="true" [paginator]="false"
        >
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of columns" [ngStyle]="col.style">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" class="text-center">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tenant let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" [ngClass]="{'text-truncate': true, 'text-center': !tenant[col.field]}">
                        <span *ngIf="col.field !== 'action'">
                            {{tenant[col.field] ? tenant[col.field] : '-'}}
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" [totalRecords]="primengTableHelper.totalRecordsCount"
                     [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" #paginator dropdownAppendTo="body"
                     (onPageChange)="paginate($event)">
        </p-paginator>
    </div>
</div>
